/*========== Global ==========*/
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('assets/Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;

  &:active {
    color: #116fad;
  }
}

ul {
  list-style-type: none;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  margin: 15px 0 15px 0;
}

textarea,
input,
select {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  padding: 7px 12px;
  transition: 0.1s;
  font-size: 16px;

  &:focus {
    outline: 3.5px solid #4185df60;
  }
}

textarea,
input {
  &:read-only {
    background-color: #dfdfdf;
  }
}

input[type='file'] {
  background: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98.8%;
  background-position-y: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  font-size: 14px;

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align: top;
  }

  .center {
    text-align: center;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17aab4;
  color: white;
  padding: 15px;
  border-radius: 10px;
  transition: opacity 1s;
  opacity: 1;
  margin-bottom: 15px;

  .close {
    width: 26px;
    height: 26px;

    svg {
      cursor: pointer;
      width: 26px;
      height: 26px;
    }
  }
}

.alert-success {
  background-color: #d1e7dd;
  color: #0a3622;
  border: 1px solid #a3cfbb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #58151c;
  border: 1px solid #f1aeb5;
}

.responsive-table {
  overflow-x: auto;
}

.btn {
  padding: 6px 17px 6px 17px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-sm {
  padding: 6px 18px 6px 18px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}

.btn-action {
  padding: 8px 8px 4px 8px;
  box-shadow: none;
  text-align: center;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.btn-profile {
  background-color: #fff;
  transition: background-color 0.5s;

  a {
    color: #000;
  }

  &:hover {
    background-color: #f0f0f0;
    transition: background-color 0.2s;
  }

  &:focus {
    outline: 3px solid #ffffff86;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-right: 7px;
    }

    img {
      width: 15px;
      height: auto;
    }
  }
}

.btn-login {
  background-color: #3e58e7;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.5s ease-out;
  margin-top: 20px;
  padding: 10px;
  width: 100%;

  &:hover {
    background: #2741da;
    transition: background-color 0.2s ease-in;
  }

  &:focus {
    outline: 3px solid #3e58e786;
  }
}

.btn-danger {
  background-color: #d43625;
  color: #fff;
  transition: background-color 0.5s;

  &:hover {
    background-color: #c92b1a;
    transition: background-color 0.2s;
  }

  &:focus {
    outline: 3px solid #d4372586;
  }
}

.btn-success {
  background-color: #229b62;
  color: #fff;
  transition: background-color 0.5s;

  &:hover {
    background-color: #1b925a;
    transition: background-color 0.2s;
  }

  &:focus {
    outline: 3px solid #229b6286;
  }
}

.btn-warning {
  background-color: #f1b605;
  transition: background-color 0.5s;
  color: #000;

  &:hover {
    background-color: #e4ac04;
    transition: background-color 0.2s;
  }

  &:focus {
    outline: 3px solid #f1b60586;
  }
}

.btn-info {
  background-color: #17aab4;
  color: #fff !important;
  transition: background-color 0.5s;

  &:hover {
    background-color: #139aa3;
    transition: background-color 0.2s;
  }

  &:focus {
    outline: 3px solid #17aab486;
  }
}

.form-group {
  display: grid;
  margin-bottom: 14px;

  .info {
    font-size: 12px;
    color: #d31b2d;
    padding-top: 7px;
    display: none;

    &.show {
      display: block;
    }
  }

  label {
    margin-bottom: 6px;
  }
}

.checkbox-group {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;

  input[type='checkbox'] {
    width: 17px;
    height: 17px;
  }

  label {
    margin-bottom: 0;
    padding-left: 10px;
  }
}

.bg-overlay {
  background-color: hsla(0, 0%, 0%, 0.329);
  // background-color: red;
  width: 100%;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  z-index: 3;
  transition: all 0.6s;
  opacity: 0;

  &.overlay {
    visibility: visible;
    opacity: 1;
  }
}

.search-wrapper {
  display: flex;
  justify-content: left;
  // vertical-align: middle;

  .search-content {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

    input {
      border-radius: 8px 0 0 8px;
    }

    .btn {
      border-radius: 0 8px 8px 0;
      box-shadow: none;

      svg {
        margin-top: 5px;
      }
    }
  }
}

/*========== Local ==========*/
.container {
  display: grid;
  grid-template-areas: 'sidebar content-wrapper';
  grid-template-columns: 250px auto;

  @media screen and (max-width: 768px) {
    grid-template-areas: 'content-wrapper';
    grid-template-columns: auto;
  }
}

/*===== Sidebar =====*/
.sidebar {
  grid-area: 'sidebar';

  /* Logo */
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #152337;
    padding: 15px;
    height: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    img {
      margin-right: 10px;
    }

    .title {
      font-size: 18px;
      font-weight: 500;
    }
  }

  /* Profile */
  .profile {
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;

    .foto-default {
      padding: 25px 25px 0 25px;
      border-radius: 10px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      img {
        width: 100%;
        height: auto;
        margin-bottom: -7px;
      }
    }

    .foto-profil {
      border-radius: 10px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      width: 100%;
      height: auto;
      margin-bottom: -7px;
    }

    .detail {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      padding: 23px 15px 15px 15px;
      border-radius: 0 0 10px 10px;
      text-align: center;
    }

    .name {
      background-color: #47acf0;
      padding: 8px;
      border-radius: 10px;
      color: #fff;
      margin-bottom: 12px;
    }

    .role {
      border: 1px solid #47acf0;
      color: #47acf0;
      border-radius: 10px;
      padding: 8px;
    }
  }

  /* Menu */
  .menus {
    margin: 25px 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0 0 10px 10px;

    ul {
      li {
        padding: 10px 15px 10px;
        cursor: pointer;
        color: #000;
        transition: color 0.2s;
        font-size: 14px;

        &:hover {
          color: #1d7ebe;
          transition: color 0.2s;
        }
      }
    }

    .title {
      padding: 10px 15px 10px 15px;
      background-color: #49a8e6;
      color: #fff;
      border-radius: 10px 10px 0 0;
    }

    .menu-dropdown {
      .icon {
        margin-left: 6px;
        transform: rotate(0deg);
        transition: transform 0.3s;
      }

      &:hover + .submenu-dropdown {
        max-height: 500px;
        transition: max-height 0.3s ease-in;
      }
    }

    .submenu-dropdown {
      background-color: #f7f7f7;
      overflow: hidden;
      max-height: 0;
      /* padding-top: 10px; */
      transition: max-height 0.3s ease-out;

      li:first-child {
        padding-top: 10px;
      }

      &:hover {
        max-height: 500px;
        transition: max-height 0.3s ease-out;
      }
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    transform: translateX(-250px);
    transition: all 0.4s;
    opacity: 0;
    box-sizing: border-box;
    z-index: 4;
    background-color: #fff;
    overflow-y: auto;

    &.open {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

/*===== Content Wrapper =====*/
.content-wrapper {
  grid-area: 'content-wrapper';

  /* Navbar */
  .navbar {
    background-color: #49a8e7;
    padding: 15px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: relative;

    .left {
      display: flex;

      .sidebar-toggle-open {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        transition: 0.3s;
        // z-index: 2;
        cursor: pointer;

        span {
          margin-bottom: 5px;
          display: block;
          width: 30px;
          height: 3px;
          background-color: #ffffff;
          border-radius: 3px;

          &:nth-child(3) {
            margin-bottom: 0;
          }
        }

        &:hover > span {
          background-color: #f1f1f1;
          transition: 0.3s;
        }

        // &.zindex {
        //   z-index: 1;
        // }

        @media screen and (max-width: 768px) {
          display: block;
        }
      }

      .message {
        color: #fff;
        display: block;

        @media screen and (max-width: 768px) {
          // margin-left: 15px;
          display: none;
        }
      }
    }

    .buttons {
      .btn-profile {
        margin-right: 6px;
      }
    }

    @media screen and (max-width: 768px) {
      padding-left: 15px;
      position: sticky;
      top: 0;
      z-index: 2;
      margin-left: -15px;
    }
  }

  /* Content */
  .content {
    display: grid;
    margin: 15px 15px 15px 0;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding-bottom: 15px;

    hr {
      margin: 8px 15px 10px 15px;
    }

    .content-inner {
      padding: 15px;
      overflow-x: auto;

      .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
      }

      .asset-table {
        .center {
          text-align: center;
        }

        .td-action {
          display: flex;
          justify-content: center;
        }

        .img {
          width: 130px;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .btn-wrapper {
      display: flex;
      justify-content: right;
      padding-right: 15px;
    }

    .breadcrumb {
      background-color: #07619c;
      color: #fff;
      padding: 12px 15px 12px 15px;
      border-radius: 10px 10px 0 0;
      font-size: 16px;
    }

    /* Cards Dashboard */
    .cards {
      order: 1;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;
      padding: 15px;

      .card {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        transition: 0.3s;

        .head {
          padding: 8px 15px 8px 15px;
          background-color: #65c0fc;
          color: #fff;
          border-radius: 12px 12px 0 0;
          font-size: 14px;
        }

        .body {
          background-color: #81cbfc;
          padding: 12px 15px 12px 15px;
          display: grid;
          grid-template-areas: 'left right';
          grid-template-columns: auto 100px;

          .left {
            grid-area: 'left';
            color: #fff;
            font-size: 45px;
            font-weight: 500;
          }

          .right {
            grid-area: 'right';
          }
        }

        .footer {
          background-color: #81cbfc;
          /* padding: 8px 15px 15px 15px; */
          padding: 15px;
          border-radius: 0 0 12px 12px;
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          color: #6d6d6d;

          .btn-sm {
            border-radius: 15px;
          }
        }

        .aset-card-1-icon {
          fill: white;
          opacity: 0.6;
        }

        .aset-card-2-icon {
          fill: blue;
          opacity: 0.4;
        }

        .aset-card-3-icon {
          fill: green;
          opacity: 0.4;
        }

        .aset-card-4-icon {
          fill: red;
          opacity: 0.4;
        }

        &:hover {
          transform: translateY(-5px);
        }
      }

      @media screen and (max-width: 768px) {
        order: 3;
      }
    }

    .welcome-message {
      order: 3;
      padding: 15px;
      background-color: #cff4fc;
      border: 1px solid #9eeaf9;
      color: #055160;
      margin: 15px;
      border-radius: 10px;
      font-size: 14px;

      p:first-child {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      hr {
        background-color: #a7ccd4a8;
        margin: 15px 0 15px 0;
      }

      @media screen and (max-width: 768px) {
        order: 1;
      }
    }

    .content-footer {
      order: 5;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 15px;
      margin: 15px;

      .note-wrapper {
        .title {
          margin-bottom: 8px;
        }

        .btn-sm {
          float: right;
        }

        .note {
          width: 100%;
          height: 100px;
          padding-right: 100px;
          box-sizing: border-box;
        }
      }

      .recent-data {
        padding-left: 7.5px;

        .title {
          margin-bottom: 8px;
        }

        .btn-sm {
          float: right;
        }

        table {
          margin-bottom: 7px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 15px;
  }
}

/*===== Footer =====*/
footer {
  margin-top: 15px;
  padding: 15px;
  background-color: #152337;
  color: #ffffff50;
  font-size: 14px;
  display: flex;
  justify-content: space-between;

  &:first-child {
    text-align: left;
  }

  &:last-child {
    text-align: right;
  }
}

/* ============================================ */

/* ===== Pagination ===== */
.pagination {
  display: flex;
  justify-content: center;

  .page-item {
    padding: 6px 17px 6px 17px;
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
    border-left: 1px solid #919191;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    color: #424242;
    border-collapse: collapse;

    &:hover {
      background-color: #139aa3;
      border-top: 1px solid #139aa3;
      border-bottom: 1px solid #139aa3;
      border-left: 1px solid #139aa3;
      color: #fff;
    }

    &:first-child {
      border-radius: 7px 0 0 7px;
    }

    &:last-child {
      border-radius: 0 7px 7px 0;
      border-right: 1px solid #919191;

      &:hover {
        border-right: 1px solid #139aa3;
      }
    }
  }
}

/* ===== Halaman Login ===== */
.login {
  background-image: url('../svg/bg-login.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;

  .login-wrapper {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    margin: 100px auto;

    .title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;

      img {
        margin-right: 10px;
      }

      span {
        font-size: 25px;
        font-weight: bold;
      }
    }

    .form-group {
      display: grid;
      margin-bottom: 12px;

      label {
        margin-bottom: 6px;
      }
    }

    p {
      text-align: center;
      font-size: 14px;
      color: #00000090;
    }

    @media screen and (max-width: 768px) {
      margin: 50px auto;
    }
  }
}

/* ===== Halaman Cetak ===== */
.cetak-wrapper {
  width: 60%;
  margin: 30px 0 30px 0;

  .title {
    margin-bottom: 20px;
  }

  #waktu {
    margin-top: 20px;
  }
}

/* ===== Nama-nama Anggota Kelompok ===== */
.nama-kelompok-wrapper {
  h3 {
    text-align: center;
    margin-bottom: 18px;
  }

  .anggota {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 16px;
      color: #000;
      text-align: left;
      margin-bottom: 15px;
    }
  }
}

/* ===== Lainnya ===== */
.hr-1 {
  order: 2;
}

.hr-2 {
  order: 4;
}

.search-info {
  padding-bottom: 15px;
}
